::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgba(25, 147, 147, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(25, 147, 147, 0.2);
}

.chat-thread {
  background-color: #888;
  width: 100%;
  margin: 5px 0;
  padding: 0 10px 0 10px;
  list-style: none;
  border-radius: 3px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-thread li {
  position: relative;
  clear: both;
  display: inline-block;
  padding: 10px 16px 10px 16px;
  margin: 5px 0 10px 0;
  font: 16px/20px 'Noto Sans', sans-serif;
  border-radius: 10px;
  background-color: rgba(90, 200, 200, 0.8);
}

/* Chat - Avatar */
.chat-thread li:before {
  position: absolute;
  top: 0;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  content: '';
}

/* Chat - Speech Bubble Arrow */
.chat-thread li:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid rgba(90, 200, 200, 0.8);
}

/*-------------------我的消息----------------------------------------*/
.chat-thread li.mychat {
  animation: show-chat-odd 0.15s 1 ease-in;
  -moz-animation: show-chat-odd 0.15s 1 ease-in;
  -webkit-animation: show-chat-odd 0.15s 1 ease-in;
  float: right;
  margin-right: 80px;
  background-color: rgba(155, 214, 244, 0.7);
  color: #111015;
}

.chat-thread li.mychat:before {
  right: -80px;
  background-image: url("/support/image/mychatl.png");
  background-size: contain;
}

.chat-thread li.mychat:after {
  border-right: 15px solid transparent;
  border-top: 15px solid rgba(155, 214, 244, 0.7);
  right: -15px;
}
/*-------------------对方消息----------------------------------------*/
.chat-thread li.matchchat {
  animation: show-chat-even 0.15s 1 ease-in;
  -moz-animation: show-chat-even 0.15s 1 ease-in;
  -webkit-animation: show-chat-even 0.15s 1 ease-in;
  float: left;
  margin-left: 80px;
  background-color: rgba(178, 233, 136, 0.7);
  color: #183850;
}

.chat-thread li.matchchat:before {
  left: -80px;
  background-image: url("/support/image/matchchat.png");
  background-size: contain;
}

.chat-thread li.matchchat:after {
  border-left: 15px solid transparent;
  border-top: 15px solid rgba(178, 233, 136, 0.7);
  left: -15px;
}
/*-------------------系统消息----------------------------------------*/
.chat-thread li.autochat {
  animation: show-chat-even 0.15s 1 ease-in;
  -moz-animation: show-chat-even 0.15s 1 ease-in;
  -webkit-animation: show-chat-even 0.15s 1 ease-in;
  float: left;
  margin-left: 80px;
  color: indianred;
}

.chat-thread li.autochat:before {
  left: -80px;
  background-image: url("/support/image/autochat.png");
  background-size: contain;
}

.chat-thread li.autochat:after {
  border-left: 15px solid transparent;
  left: -15px;
}


.chat-window {
  position: fixed;
  bottom: 18px;
}

.chat-window-message {
  width: 100%;
  height: 48px;
  font: 32px/48px 'Noto Sans', sans-serif;
  background: none;
  color: #0AD5C1;
  border: 0;
  border-bottom: 1px solid rgba(25, 147, 147, 0.2);
  outline: none;
}

/* Small screens */
@media all and (max-width: 767px) {
  .chat-thread {
    width: 100%;
    height: 300px;
  }

  .chat-window {
    left: 5%;
    width: 90%;
  }
}
/* Medium and large screens */
@media all and (min-width: 768px) {
  .chat-thread {
    width: 100%;
    height: 320px;
  }

  .chat-window {
    left: 25%;
    width: 50%;
  }
}
@keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@-moz-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
@-moz-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
@-webkit-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
.credits{
  text-align:center;
  margin-top:35px;
  color: rgba(255, 255, 255, 0.35);
  font-family: 'Noto Sans', sans-serif;
}
.credits a{
  text-decoration:none;
  color: rgba(255, 255, 255, 0.35);
}