.ans-num{
    font-size: 36px;
    font-family: "微软雅黑", "YaHei Consolas Hybrid";
    display:inline;
}

.ans-title{
    text-align: left;
    font-family: "微软雅黑", "YaHei Consolas Hybrid";
    font-size: 24px;
    display:inline;
}

